/*! 
* @package IcoFont 
* @version 1.0.1 
* @author IcoFont https://icofont.com 
* @copyright Copyright (c) 2015 - 2018 IcoFont 
* @license - https://icofont.com/license/
*/

@font-face
{
 
  font-family: "IcoFont";
font-weight: normal;
font-style: "Regular";
src: url("./fonts/icofont.woff2") format("woff2"),
url("./fonts/icofont.woff") format("woff");
}

[class^="icofont-"], [class*=" icofont-"]
{
  font-family: 'IcoFont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.icofont-chart-arrows-axis:before
{
  content: "\e978";
}

.icofont-chart-bar-graph:before
{
  content: "\e979";
}

.icofont-chart-flow-1:before
{
  content: "\e97a";
}

.icofont-chart-flow:before
{
  content: "\e97c";
}

.icofont-chart-growth:before
{
  content: "\e97d";
}

.icofont-chart-histogram-alt:before
{
  content: "\e97e";
}

.icofont-chart-histogram:before
{
  content: "\e97f";
}

.icofont-chart-line-alt:before
{
  content: "\e980";
}

.icofont-chart-line:before
{
  content: "\e981";
}

.icofont-chart-pie:before
{
  content: "\e983";
}

.icofont-search-1:before
{
  content: "\ed11";
}

.icofont-search-document:before
{
  content: "\ed13";
}

.icofont-search-folder:before
{
  content: "\ed14";
}

.icofont-search-map:before
{
  content: "\ed16";
}

.icofont-search-property:before
{
  content: "\ed17";
}

.icofont-search-restaurant:before
{
  content: "\ed18";
}

.icofont-search-stock:before
{
  content: "\ed19";
}

.icofont-search-user:before
{
  content: "\ed1a";
}

.icofont-search:before
{
  content: "\ed1b";
}

.icofont-5-star-hotel:before
{
  content: "\ee41";
}

.icofont-beach:before
{
  content: "\ee44";
}

.icofont-camping-vest:before
{
  content: "\ee45";
}

.icofont-direction-sign:before
{
  content: "\ee46";
}

.icofont-hill-side:before
{
  content: "\ee47";
}

.icofont-hill:before
{
  content: "\ee48";
}

.icofont-travelling:before
{
  content: "\ee4e";
}

.icofont-island:before
{
  content: "\ee4b";
}

.icofont-hotel:before
{
  content: "\ee49";
}

.icofont-visa-electron:before
{
  content: "\ece7";
}

.icofont-visa-alt:before
{
  content: "\ece6";
}

.icofont-paypal:before
{
  content: "\ecdf";
}

.icofont-mastercard:before
{
  content: "\ecdb";
}

.icofont-maestro:before
{
  content: "\ecd9";
}

.icofont-google-wallet-alt-3:before
{
  content: "\ecd4";
}

.icofont-amazon:before
{
  content: "\ecbf";
}

.icofont-apple-pay:before
{
  content: "\ecc3";
}

.icofont-bank-transfer:before
{
  content: "\ecc5";
}

.icofont-dollar-flase:before
{
  content: "\e9d4";
}

.icofont-dollar-minus:before
{
  content: "\e9d5";
}

.icofont-dollar-plus:before
{
  content: "\e9d6";
}

.icofont-dollar-true:before
{
  content: "\e9d7";
}

.icofont-dollar:before
{
  content: "\e9d8";
}

.icofont-euro:before
{
  content: "\e9e2";
}

.icofont-frank:before
{
  content: "\e9e7";
}

.icofont-rupee:before
{
  content: "\ea14";
}

.icofont-bank-alt:before
{
  content: "\e961";
}

.icofont-barcode:before
{
  content: "\e963";
}

.icofont-billboard:before
{
  content: "\e965";
}

.icofont-briefcase-1:before
{
  content: "\e966";
}

.icofont-businesswoman:before
{
  content: "\e969";
}

.icofont-chair:before
{
  content: "\e96a";
}

.icofont-company:before
{
  content: "\e96c";
}

.icofont-contact-add:before
{
  content: "\e96d";
}

.icofont-files-stack:before
{
  content: "\e96e";
}

.icofont-handshake-deal:before
{
  content: "\e96f";
}

.icofont-id-card:before
{
  content: "\e970";
}

.icofont-meeting-add:before
{
  content: "\e971";
}

.icofont-money-bag:before
{
  content: "\e972";
}

.icofont-pie-chart:before
{
  content: "\e973";
}

.icofont-stock-mobile:before
{
  content: "\e977";
}

.icofont-presentation:before
{
  content: "\e975";
}

.icofont-presentation-alt:before
{
  content: "\e974";
}

.icofont-wind:before
{
  content: "\ee98";
}

.icofont-wind-waves:before
{
  content: "\ee97";
}

.icofont-ui-alarm:before
{
  content: "\ec3f";
}

.icofont-ui-flight:before
{
  content: "\ec5a";
}

.icofont-ui-rate-blank:before
{
  content: "\ec7a";
}

.icofont-ui-rating:before
{
  content: "\ec7c";
}

.icofont-ui-rate-remove:before
{
  content: "\ec7b";
}

.icofont-facebook:before
{
  content: "\ed37";
}

.icofont-facebook-messenger:before
{
  content: "\ed36";
}

.icofont-behance:before
{
  content: "\ed22";
}

.icofont-flikr:before
{
  content: "\ed39";
}

.icofont-google-map:before
{
  content: "\ed42";
}

.icofont-google-hangouts:before
{
  content: "\ed41";
}

.icofont-instagram:before
{
  content: "\ed46";
}

.icofont-kickstarter:before
{
  content: "\ed48";
}

.icofont-kakaotalk:before
{
  content: "\ed47";
}

.icofont-line-messenger:before
{
  content: "\ed4b";
}

.icofont-linkedin:before
{
  content: "\ed4d";
}

.icofont-livejournal:before
{
  content: "\ed50";
}

.icofont-telegram:before
{
  content: "\ed75";
}

.icofont-twitter:before
{
  content: "\ed7a";
}

.icofont-arrow-down:before
{
  content: "\ea5b";
}

.icofont-arrow-left:before
{
  content: "\ea5c";
}

.icofont-arrow-right:before
{
  content: "\ea5d";
}

.icofont-arrow-up:before
{
  content: "\ea5e";
}

.icofont-caret-down:before
{
  content: "\ea67";
}

.icofont-caret-left:before
{
  content: "\ea68";
}

.icofont-caret-right:before
{
  content: "\ea69";
}

.icofont-caret-up:before
{
  content: "\ea6a";
}

.icofont-dotted-left:before
{
  content: "\ea78";
}

.icofont-dotted-right:before
{
  content: "\ea79";
}

.icofont-long-arrow-left:before
{
  content: "\ea93";
}

.icofont-long-arrow-right:before
{
  content: "\ea94";
}

.icofont-long-arrow-up:before
{
  content: "\ea95";
}

.icofont-long-arrow-down:before
{
  content: "\ea92";
}

.icofont-rounded-left-down:before
{
  content: "\ea9b";
}

.icofont-rounded-left-up:before
{
  content: "\ea9c";
}

.icofont-rounded-left:before
{
  content: "\ea9d";
}

.icofont-rounded-right-down:before
{
  content: "\ea9e";
}

.icofont-rounded-right-up:before
{
  content: "\ea9f";
}

.icofont-rounded-right:before
{
  content: "\eaa0";
}

.icofont-rounded-up:before
{
  content: "\eaa1";
}

.icofont-thin-double-left:before
{
  content: "\eac6";
}

.icofont-thin-double-right:before
{
  content: "\eac7";
}

.icofont-thin-down:before
{
  content: "\eac8";
}

.icofont-thin-left:before
{
  content: "\eac9";
}

.icofont-thin-right:before
{
  content: "\eaca";
}

.icofont-thin-up:before
{
  content: "\eacb";
}

.icofont-addons:before
{
  content: "\eea0";
}

.icofont-address-book:before
{
  content: "\eea1";
}

.icofont-adjust:before
{
  content: "\eea2";
}

.icofont-alarm:before
{
  content: "\eea3";
}

.icofont-anchor:before
{
  content: "\eea4";
}

.icofont-archive:before
{
  content: "\eea5";
}

.icofont-attachment:before
{
  content: "\eea7";
}

.icofont-automation:before
{
  content: "\eea9";
}

.icofont-bag:before
{
  content: "\eeac";
}

.icofont-badge:before
{
  content: "\eeaa";
}

.icofont-book-mark:before
{
  content: "\eec0";
}

.icofont-box:before
{
  content: "\eec1";
}

.icofont-bucket:before
{
  content: "\eec4";
}

.icofont-building:before
{
  content: "\eec8";
}

.icofont-camera:before
{
  content: "\eecf";
}

.icofont-check-alt:before
{
  content: "\eed6";
}

.icofont-close-line-squared:before
{
  content: "\eee0";
}

.icofont-checked:before
{
  content: "\eed9";
}

.icofont-clip:before
{
  content: "\eedb";
}

.icofont-crop:before
{
  content: "\eef5";
}

.icofont-contacts:before
{
  content: "\eef1";
}

.icofont-connection:before
{
  content: "\eeef";
}

.icofont-compass-alt:before
{
  content: "\eeec";
}

.icofont-compass:before
{
  content: "\eeed";
}

.icofont-edit:before
{
  content: "\ef10";
}

.icofont-external-link:before
{
  content: "\ef1f";
}

.icofont-filter:before
{
  content: "\ef29";
}

.icofont-gear:before
{
  content: "\ef3a";
}

.icofont-gears:before
{
  content: "\ef3b";
}

.icofont-id:before
{
  content: "\ef4a";
}

.icofont-hour-glass:before
{
  content: "\ef49";
}

.icofont-image:before
{
  content: "\ef4b";
}

.icofont-info:before
{
  content: "\ef50";
}

.icofont-leaflet:before
{
  content: "\ef5f";
}

.icofont-location-arrow:before
{
  content: "\ef78";
}

.icofont-login:before
{
  content: "\ef7b";
}

.icofont-lunch:before
{
  content: "\ef82";
}

.icofont-map-pins:before
{
  content: "\ef8a";
}

.icofont-maximize:before
{
  content: "\ef8c";
}

.icofont-money:before
{
  content: "\ef9d";
}

.icofont-notification:before
{
  content: "\efac";
}

.icofont-paper-plane:before
{
  content: "\efb4";
}

.icofont-phone:before
{
  content: "\efbb";
}

.icofont-star:before
{
  content: "\f000";
}

.icofont-tags:before
{
  content: "\f005";
}

.icofont-tasks:before
{
  content: "\f007";
}

.icofont-tick-boxed:before
{
  content: "\f00d";
}

.icofont-tools-alt-2:before
{
  content: "\f013";
}

.icofont-unlock:before
{
  content: "\f01a";
}

.icofont-unlocked:before
{
  content: "\f01b";
}

.icofont-upload:before
{
  content: "\f01d";
}

.icofont-upload-alt:before
{
  content: "\f01c";
}

.icofont-water-drop:before
{
  content: "\f027";
}

.icofont-usb:before
{
  content: "\f01f";
}

.icofont-usb-drive:before
{
  content: "\f01e";
}

.icofont-verification-check:before
{
  content: "\f021";
}

.icofont-wall-clock:before
{
  content: "\f022";
}

.icofont-envelope:before
{
  content: "\ef14";
}

.icofont-exclamation-square:before
{
  content: "\ef1a";
}

.icofont-listine-dots:before
{
  content: "\ef74";
}

.icofont-listing-box:before
{
  content: "\ef75";
}

.icofont-listing-number:before
{
  content: "\ef76";
}

.icofont-link-alt:before
{
  content: "\ef70";
}

.icofont-link:before
{
  content: "\ef71";
}

.icofont-location-pin:before
{
  content: "\ef79";
}

.icofont-ui-play:before
{
  content: "\ec74";
}

.icofont-settings-alt:before
{
  content: "\efe1";
}

.icofont-network:before
{
  content: "\efa5";
}

.icofont-logout:before
{
  content: "\ef7c";
}

.icofont-magnet:before
{
  content: "\ef86";
}

.icofont-map:before
{
  content: "\ef8b";
}

.icofont-medicine:before
{
  content: "\ef8e";
}

.icofont-light-bulb:before
{
  content: "\ef6b";
}

.icofont-learn:before
{
  content: "\ef60";
}

.icofont-info-square:before
{
  content: "\ef4f";
}

.icofont-info-circle:before
{
  content: "\ef4e";
}

.icofont-infinite:before
{
  content: "\ef4d";
}

.icofont-horn:before
{
  content: "\ef48";
}

.icofont-grocery:before
{
  content: "\ef40";
}

.icofont-heart-alt:before
{
  content: "\ef44";
}

.icofont-heart:before
{
  content: "\ef45";
}

.icofont-home:before
{
  content: "\ef47";
}

.icofont-graffiti:before
{
  content: "\ef3f";
}

.icofont-globe:before
{
  content: "\ef3e";
}

.icofont-gear-alt:before
{
  content: "\ef39";
}

.icofont-flask:before
{
  content: "\ef33";
}

.icofont-flash-light:before
{
  content: "\ef31";
}

.icofont-database-add:before
{
  content: "\eefc";
}

.icofont-database-locked:before
{
  content: "\eefd";
}

.icofont-database:before
{
  content: "\eeff";
}

.icofont-lock:before
{
  content: "\ef7a";
}

.icofont-mobile-phone:before
{
  content: "\ef9b";
}

.icofont-speech-comments:before
{
  content: "\eff2";
}

.icofont-smart-phone:before
{
  content: "\efec";
}

.icofont-ui-cell-phone:before
{
  content: "\ec49";
}

.icofont-iphone:before
{
  content: "\ea3b";
}

.icofont-headphone-alt:before
{
  content: "\ea36";
}

.icofont-headphone-alt-3:before
{
  content: "\ea35";
}

.icofont-headphone:before
{
  content: "\ea37";
}

.icofont-ui-head-phone:before
{
  content: "\ea53";
}

.icofont-ui-dial-phone:before
{
  content: "\ec54";
}

.icofont-mega-phone:before
{
  content: "\ef8f";
}

.icofont-megaphone-alt:before
{
  content: "\ef90";
}

.icofont-megaphone:before
{
  content: "\ef91";
}

.icofont-phone-circle:before
{
  content: "\efba";
}

.icofont-user-alt-3:before
{
  content: "\ecfd";
}

.icofont-ui-user:before
{
  content: "\ec8e";
}

.icofont-user:before
{
  content: "\ed05";
}

.icofont-user-alt-5:before
{
  content: "\ecff";
}

.icofont-user-alt-7:before
{
  content: "\ed01";
}

.icofont-user-male:before
{
  content: "\ed03";
}

.icofont-xs
{
  font-size: .5em;
}

.icofont-sm
{
  font-size: .75em;
}

.icofont-md
{
  font-size: 1.25em;
}

.icofont-lg
{
  font-size: 1.5em;
}

.icofont-1x
{
  font-size: 1em;
}

.icofont-2x
{
  font-size: 2em;
}

.icofont-3x
{
  font-size: 3em;
}

.icofont-4x
{
  font-size: 4em;
}

.icofont-5x
{
  font-size: 5em;
}

.icofont-6x
{
  font-size: 6em;
}

.icofont-7x
{
  font-size: 7em;
}

.icofont-8x
{
  font-size: 8em;
}

.icofont-9x
{
  font-size: 9em;
}

.icofont-10x
{
  font-size: 10em;
}

.icofont-fw
{
  text-align: center;
  width: 1.25em;
}

.icofont-ul
{
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.icofont-ul > li
{
  position: relative;
  line-height: 2em;
}

.icofont-ul > li .icofont
{
  display: inline-block;
  vertical-align: middle;
}

.icofont-border
{
  border: solid 0.08em #f1f1f1;
  border-radius: .1em;
  padding: .2em .25em .15em;
}

.icofont-pull-left
{
  float: left;
}

.icofont-pull-right
{
  float: right;
}

.icofont.icofont-pull-left
{
  margin-right: .3em;
}

.icofont.icofont-pull-right
{
  margin-left: .3em;
}

.icofont-spin
{
  -webkit-animation: icofont-spin 2s infinite linear;
  animation: icofont-spin 2s infinite linear;
  display: inline-block;
}

.icofont-pulse
{
  -webkit-animation: icofont-spin 1s infinite steps(8);
  animation: icofont-spin 1s infinite steps(8);
  display: inline-block;
}

@-webkit-keyframes icofont-spin
{
  0%
  {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%
  {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes icofont-spin
{
  0%
  {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%
  {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.icofont-rotate-90
{
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.icofont-rotate-180
{
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.icofont-rotate-270
{
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.icofont-flip-horizontal
{
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.icofont-flip-vertical
{
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}

.icofont-flip-horizontal.icofont-flip-vertical
{
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

:root .icofont-rotate-90,
	:root .icofont-rotate-180,
	:root .icofont-rotate-270,
	:root .icofont-flip-horizontal,
	:root .icofont-flip-vertical
{
  -webkit-filter: none;
  filter: none;
  display: inline-block;
}

.icofont-inverse
{
  color: #fff;
}

.sr-only
{
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.sr-only-focusable:active,
	.sr-only-focusable:focus
{
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
	