@font-face {
    font-family: 'Futura';
    src: url('Futura-Medium.eot');
    src: url('Futura-Medium.eot?#iefix') format('embedded-opentype'),
        url('Futura-Medium.woff2') format('woff2'),
        url('Futura-Medium.woff') format('woff'),
        url('Futura-Medium.svg#Futura-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura-CondensedMedium';
    src: url('Futura-CondensedMedium.eot');
    src: url('Futura-CondensedMedium.eot?#iefix') format('embedded-opentype'),
        url('Futura-CondensedMedium.woff2') format('woff2'),
        url('Futura-CondensedMedium.woff') format('woff'),
        url('Futura-CondensedMedium.svg#Futura-CondensedMedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Lt BT';
    src: url('FuturaBT-Light.eot');
    src: url('FuturaBT-Light.eot?#iefix') format('embedded-opentype'),
        url('FuturaBT-Light.woff2') format('woff2'),
        url('FuturaBT-Light.woff') format('woff'),
        url('FuturaBT-Light.svg#FuturaBT-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

