@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
body {
  font-family: "Open Sans", sans-serif;
  color: #3b3a3a;
  font-size: 14px;
  line-height: normal;
  font-weight: 300; }

.over-flow-hidden {
  overflow: hidden; }

::-moz-selection {
  background-color: transparent;
  color: #f6c84e; }

::selection {
  background-color: transparent;
  color: #f6c84e; }

ul {
  padding: 0;
  list-style: none;
  margin: 0; }

a,
a > *,
button,
button > * {
  text-decoration: none;
  transition: all 0.3s ease-in-out; }

button {
  border: none; }

.btn.focus,
button:focus {
  outline: 0;
  box-shadow: none !important; }

a:focus,
a:hover,
a > :focus,
a > :hover,
button:focus {
  outline: 0;
  text-decoration: none;
  transition: all 0.3s ease-in; }

.readmore {
  position: relative;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
  overflow: hidden; }

.readmore:hover {
  position: relative;
  color: #fff;
  background-color: #d7a136; }

.readmore:hover:after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1);
  animation: ripple 1s ease-out; }

.readmore:focus:not(:active)::after {
  animation: ripple 1s ease-out; }

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1; }
  20% {
    transform: scale(2, 2);
    opacity: 1; }
  100% {
    opacity: 0;
    transform: scale(10, 10); } }
p {
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222; }

h4 {
  font-size: 27px;
  font-weight: 800; }

h5 {
  font-size: 18px;
  font-weight: 800; }

.bold {
  font-weight: 700; }

.semi-bold {
  font-weight: 600; }

.font-15 {
  font-size: 15px; }

.font-18 {
  font-size: 18px; }

.font-20 {
  font-size: 20px; }

.font-22 {
  font-size: 22px; }

.font-25 {
  font-size: 25px; }

.font-42 {
  font-size: 42px; }

.bg-white {
  background-color: white !important; }

.bg-Turquoise {
  background-color: #1ba27b !important; }

/* colors */
.grey {
  color: #4e4e4e; }

.dark {
  color: #3b3b3b; }

.black {
  color: #000; }

/* adjestments */
.z-9 {
  z-index: 9; }

.p-40 {
  padding: 40px 0; }

.p-30 {
  padding: 30px 0; }

.p-35 {
  padding: 35px 0; }

.p-20 {
  padding: 20px 0; }

.x-margin-30 {
  margin-left: -30px;
  margin-right: -30px; }

.fill {
  width: 100%;
  flex: 0 0 100%; }

.row-wrap {
  flex-flow: row wrap; }

.sections {
  padding: 35px 0; }
  @media screen and (max-width: 768px) {
    .sections {
      padding: 20px 0; } }

.theme-color {
  color: #f6c84e; }

/* header */
.page-header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-duration: 0.6s;
  transition-property: height, top;
  box-shadow: rgba(30, 50, 50, 0.25) 0 0.05em 0.5em; }

.page-header.hide {
  top: -130px;
  height: 0; }

.navigation-holder {
  background-color: #040915;
  position: relative;
  padding: 10px 0; }
  .navigation-holder:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.25); }
  .navigation-holder .navbar-light .navbar-nav .nav-link {
    color: white;
    margin: 0 45px;
    font-weight: 400;
    position: relative; }
    .navigation-holder .navbar-light .navbar-nav .nav-link:hover {
      color: #d9a337 !important; }
    .navigation-holder .navbar-light .navbar-nav .nav-link:after {
      content: "";
      position: absolute;
      width: 0%;
      height: 3px;
      bottom: -30px;
      left: 0;
      background-color: #d9a337;
      z-index: 1;
      transition: all ease-in 0.4s; }
    .navigation-holder .navbar-light .navbar-nav .nav-link:hover:after {
      width: 100%;
      transition: all ease-in 0.4s; }
    @media screen and (max-width: 768px) {
      .navigation-holder .navbar-light .navbar-nav .nav-link {
        color: white;
        margin: 5px 0;
        font-weight: 400; } }
  .navigation-holder .navbar-light .navbar-nav .nav-item.active a {
    color: #d9a337;
    font-weight: 600; }
    .navigation-holder .navbar-light .navbar-nav .nav-item.active a::after, .navigation-holder .navbar-light .navbar-nav .nav-item.active a:hover:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: -30px;
      left: 0;
      background-color: #d9a337;
      z-index: 1;
      transition: all ease-in 0.4s; }
      @media screen and (max-width: 768px) {
        .navigation-holder .navbar-light .navbar-nav .nav-item.active a::after, .navigation-holder .navbar-light .navbar-nav .nav-item.active a:hover:after {
          bottom: -5px; } }
  .navigation-holder .navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
    background-color: #f6c947;
    padding: 4px 7px;
    border-radius: 2px; }
  .navigation-holder .navbar-light .navbar-collapse .navbar-nav {
    justify-content: end; }
  @media screen and (max-width: 920px) {
    .navigation-holder .navbar-light .xs-75 {
      width: 75%;
      position: absolute;
      right: 0;
      top: 0; } }
  @media screen and (max-width: 768px) {
    .navigation-holder .navbar-light .navbar {
      margin: 0;
      padding-top: 0 !important; }
      .navigation-holder .navbar-light .navbar #navbarSupportedContent {
        background: white;
        padding: 10px;
        margin-top: 10px; } }

.banner {
  position: relative; }
  .banner .legend {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 3em; }
    @media screen and (max-width: 768px) {
      .banner .legend {
        margin-top: 0; } }
    .banner .legend h1 {
      color: #fff; }
    @media screen and (max-width: 768px) {
      .banner .legend h1 {
        font-size: 16px; }
      .banner .legend p {
        font-size: 13px; } }
  .banner img {
    width: 100%; }
    @media screen and (max-width: 768px) {
      .banner img {
        min-height: 265px;
        object-fit: cover; } }
  @media screen and (max-width: 768px) {
    .banner {
      min-height: 265px;
      object-fit: cover; } }

/* banner text*/
.fade-in {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate(0, -150%); }
  to {
    opacity: 1;
    transform: translate(0, -50%); } }
.banner-text {
  position: relative; }
  .banner-text .floated-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-weight: 800; }
  .banner-text h2 {
    font-size: 62px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ebeaea;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .banner-text h2 {
        font-size: 4em; } }
  @media screen and (max-width: 768px) {
    .banner-text {
      padding-left: 15px !important; } }

.readmore {
  color: #d7a136;
  background-color: #38383a;
  padding: 10px 25px;
  font-weight: 400;
  z-index: 9; }

.main-intro {
  background-color: #f6f6f6;
  position: relative; }
  .main-intro .banner-text h2 {
    font-size: 72px; }
  .main-intro .img-holder {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px; }

.snip {
  margin: 0;
  transition: all 0.45s ease; }

.snip img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden; }

.snip figcaption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.snip .symbol,
.snip h5 {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px; }

.snip .symbol {
  transition: all 0.45s ease;
  transform: translateY(-100%);
  text-transform: uppercase;
  font-weight: 400; }

.snip h5 {
  font-weight: 600;
  transition: all 0.45s ease;
  transform: translateY(100%); }

.snip a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1; }

.snip:hover figcaption {
  background-color: rgba(238, 165, 20, 0.8); }

.snip:hover .symbol, .snip:hover h5 {
  transform: translateY(0);
  transition: all 0.45s ease;
  opacity: 1; }

.new-arrivals {
  background-color: #111111;
  position: relative;
  padding-top: 40px; }
  .new-arrivals:before {
    content: "";
    position: absolute;
    z-index: 1;
    background-image: url(../images/light.png);
    height: 100%;
    width: 100%;
    background-position: right -130px;
    top: 0;
    background-size: 70%;
    opacity: 1;
    background-repeat: no-repeat; }
    @media screen and (max-width: 768px) {
      .new-arrivals:before {
        background-size: 60%;
        background-position: right -20px; } }
  .new-arrivals:after {
    background-color: #f6f6f6;
    position: absolute;
    content: "";
    bottom: 0;
    height: 165px;
    width: 100%;
    z-index: 1; }
    @media screen and (max-width: 768px) {
      .new-arrivals:after {
        background-color: #111111; } }
  .new-arrivals .banner-text {
    margin-bottom: 45px; }
    .new-arrivals .banner-text h2 {
      opacity: 0.2;
      font-size: 120px; }
  .new-arrivals .light-variant-list {
    display: flex; }
    .new-arrivals .light-variant-list li {
      padding: 0 8px; }
      .new-arrivals .light-variant-list li span {
        width: 22px;
        height: 22px;
        margin-bottom: 4px;
        display: flex;
        flex-flow: row wrap; }
      .new-arrivals .light-variant-list li .bg-warm-wite {
        background-color: #f5f2c5; }
      .new-arrivals .light-variant-list li .bg-cool-white {
        background-color: #fefefe; }
      .new-arrivals .light-variant-list li .bg-natural-white {
        background-color: #c7dbf3; }
  .new-arrivals .carousel {
    z-index: 5; }
  .new-arrivals .carousel-control-next,
  .new-arrivals .carousel-control-prev {
    opacity: 1;
    background-color: transparent; }
  .new-arrivals .carousel-control-next {
    justify-content: flex-end; }
  .new-arrivals .carousel-control-prev {
    justify-content: flex-start; }
  .new-arrivals .carousel-control-next-icon,
  .new-arrivals .carousel-control-prev-icon {
    background-image: none;
    width: auto;
    height: auto; }
    .new-arrivals .carousel-control-next-icon i,
    .new-arrivals .carousel-control-prev-icon i {
      font-size: 42px;
      background: rgba(96, 96, 94, 0.41); }
  @media screen and (max-width: 768px) {
    .new-arrivals .pl-5 {
      padding-left: 15px !important; }
    .new-arrivals .mb-4,
    .new-arrivals .my-4 {
      margin-bottom: 15px !important; }
    .new-arrivals .mb-5,
    .new-arrivals .my-5 {
      margin-bottom: 15px !important; } }

.company-identity {
  padding: 45px 0 65px; }
  .company-identity h5 {
    margin: 20px 0; }
  @media screen and (max-width: 768px) {
    .company-identity .img-fluid {
      width: 100%; } }

.page-footer {
  margin-bottom: 0;
  background-color: #f6f6f6;
  padding-top: 65px; }
  .page-footer .concise {
    line-height: 26px; }
  .page-footer .social-links li {
    margin-bottom: 25px; }
    .page-footer .social-links li a {
      color: #3b3b3b; }
      .page-footer .social-links li a i {
        background-color: #f6c84e;
        padding: 5px;
        border-radius: 2px;
        color: #fff;
        margin-right: 5px; }
        .page-footer .social-links li a i:hover {
          background-color: #d7a136; }
  .page-footer .subscription .form-control {
    min-height: 40px;
    border-radius: 0;
    border-width: 2px;
    border-color: #3b3b3b; }
  .page-footer .subscription .submit-btn {
    color: black;
    background-color: #d7a136;
    margin-top: 15px;
    font-weight: 600;
    border-radius: 0;
    padding: 5px 15px;
    border: 1px solid #d7a136; }
    .page-footer .subscription .submit-btn:hover {
      background-color: transparent;
      color: #d7a136; }
  .page-footer .quick-links {
    margin-top: 30px; }
    .page-footer .quick-links a {
      color: #404040;
      padding: 0 10px; }
      .page-footer .quick-links a:hover {
        color: #d7a136; }
    @media screen and (max-width: 768px) {
      .page-footer .quick-links {
        flex-flow: column; }
        .page-footer .quick-links a {
          margin-bottom: 15px;
          display: inline-block; } }
  .page-footer .footer-bottom {
    margin-top: 35px;
    background-color: #eeeeee;
    min-height: 70px;
    display: flex;
    align-items: center;
    flex-flow: row wrap; }
    .page-footer .footer-bottom p {
      margin: 0;
      color: #404040; }
  @media screen and (max-width: 768px) {
    .page-footer .p-5 {
      padding: 0 15px !important; } }

/* preloader */
.loader-container {
  position: fixed;
  left: 0;
  top: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center; }

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 3;
  border: 1px solid #f6c84e;
  top: 50%;
  animation: loader 2s infinite ease; }

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #f6c84e;
  animation: loader-inner 2s infinite ease-in; }

@keyframes loader {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(180deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes loader-inner {
  0% {
    height: 0%; }
  25% {
    height: 0%; }
  50% {
    height: 100%; }
  75% {
    height: 100%; }
  100% {
    height: 0%; } }

/*# sourceMappingURL=style.css.map */
