@font-face {
    font-family: 'Futura';
    src: url('../fonts/Futura-Medium.eot');
    src: url('../fonts/Futura-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Futura-Medium.woff2') format('woff2'),
        url('../fonts/Futura-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura-CondensedMedium';
    src: url('../fonts/Futura-CondensedMedium.eot');
    src: url('../fonts/Futura-CondensedMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Futura-CondensedMedium.woff2') format('woff2'),
        url('../fonts/Futura-CondensedMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Lt BT';
    src: url('../fonts/FuturaBT-Light.eot');
    src: url('../fonts/FuturaBT-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaBT-Light.woff2') format('woff2'),
        url('../fonts/FuturaBT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/Futura-Bold.woff2') format('woff2'),
        url('../fonts/Futura-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


//variables
$break-ex-small:568px;
$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;
$transition3s: all 0.3s ease-in-out;
$transition5s: all 0.5s ease-in-out;

@media (min-width:1200px) {
    .container {
        max-width: 1120px;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    /* for IE 11 */
    display: none;
}

body {
    font-family: 'Futura';
    color: rgb(0, 0, 0);
    font-size: 14px;
    line-height: normal;
    font-weight: 300;
}

::-moz-selection {
    background-color: transparent;
    color: rgb(255, 153, 51)
}

::selection {
    background-color: transparent;
    color: rgb(255, 153, 51);
}

ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

a,
a>*,
button,
button>* {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

button {
    border: none;
}

.btn.focus,
button:focus {
    outline: 0;
    box-shadow: none !important;
}

a:focus,
a:hover,
a> :focus,
a> :hover,
button:focus {
    outline: 0;
    text-decoration: none;
    transition: all 0.3s ease-in;
}

.readmore {
    position: relative;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
    overflow: hidden;
}

.readmore:hover {
    position: relative;
    color: #fff;
    background-color: rgb(255, 153, 51);
}

.readmore:hover:after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1);
    animation: ripple 1s ease-out;
}

.readmore:focus:not(:active)::after {
    animation: ripple 1s ease-out;
}

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }

    20% {
        transform: scale(2, 2);
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(10, 10);
    }
}

p {
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222222;
}

h2 {
    font-family: 'Futura-CondensedMedium';
    font-size: 3.0625em;
}

.ft-medium {
    font-family: 'Futura';
    font-weight: 500;
}

/* header */
.page-header {
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 98;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-duration: 0.6s;
    transition-property: height, top;
    box-shadow: rgba(30, 50, 50, 0.25) 0 0.05em 0.5em;
}

.page-header.hide {
    top: -130px;
    height: 0;
}

.navigation-holder {
    background-color: rgb(0, 0, 0);
    position: relative;
    padding: 4px 0;


    .navbar-light {
        padding: 0;

        .navbar-brand {
            padding: 0;

            img {
                max-height: 68px;
            }
        }

        .navbar-nav {
            @media screen and (min-width: $break-large) {
                align-items: center;
            }

            .nav-link {
                color: rgb(255, 255, 255);
                margin: 0 20px;

                @media screen and (max-width: $break-large) {
                    margin-left: 7px;
                    margin-right: 7px;
                }

                color: rgb(255, 255, 255);
                margin: 0;
                font-weight: 400;
                position: relative;
                font-family: 'Futura-CondensedMedium';
                font-size: 18px;
                height: 100%;
                padding: 30px 15px;
                background: rgb(0, 0, 0);
                width: 100%;
                min-width: 95px;
                text-align: center;

                @media screen and (max-width: $break-medium) {
                    height: auto;
                    text-align: left;
                    padding: 15px 10px;
                }

                &:hover {
                    background: #fff !important;
                    color: #000 !important
                }

                &.active {
                    background: #fff;
                    color: #000;
                }
            }

            .nav-item.dropdown.show .nav-link {
                color: #000 !important;
                background: #fff;
            }

            @media screen and (max-width: $break-small) {
                color: rgb(255, 255, 255);
                margin: 5px 0;
                font-weight: 400;
            }

            .dropdown-toggle {
                &:after {
                    content: none;
                }
            }

            .dropdown-menu {
                background: transparent;

                border-radius: 0;

                width: auto;
                padding-top: 0px;
                padding-bottom: 0;
                min-width: 100%;

                @media screen and (max-width: $break-small) {
                    padding: 0;

                    margin: 0;
                }

                .nav-link {
                    background-color: #fff;
                    border: 1px solid #fff;

                    @media screen and (max-width: $break-medium) {
                        border: 0px solid #fff;
                    }
                }

                .nav-item .nav-link {
                    color: rgb(0, 0, 0) !important;

                    &:hover {
                        color: rgba(255, 255, 255, 0.8) !important;
                        background-color: transparent !important;
                        border-color: #606060;


                    }
                }

                .nav-item:nth-last-child(2) .nav-link {
                    &:after {
                        content: none;
                    }
                }


            }
        }

        .nav-item:nth-last-child(2) .nav-link {
            color: rgb(255, 153, 51);

            &:after {
                content: "";
                position: absolute;
                width: 68%;
                height: 4px;
                bottom: 22px;
                left: 50%;
                transform: translateX(-50%);
                border: none;
                background-color: rgb(255, 153, 51);
                z-index: 1;
                transition: all ease-in 0.4s;

                @media screen and (max-width: $break-medium) {
                    left: 10px;
                    transform: translateX(0%);
                    bottom: 0px;
                }

            }

            .nav-item {
                @media screen and (max-width: $break-medium) {
                    margin: 15px 0 5px;
                }

                @media screen and (max-width: $break-small) {
                    margin: 7px 0 5px;
                }

            }

        }

        .navbar-toggler {
            color: rgba(255, 255, 255, 0.5);
            border-color: rgba(0, 0, 0, 0.1);
            background-color: rgb(255, 153, 51);
            padding: 4px 7px;
            border-radius: 2px;
        }

        .navbar-collapse {
            .navbar-nav {
                justify-content: end;
            }
        }
    }

    .search-box {
        position: relative;
        padding: 0 5px;

        @media screen and (max-width: $break-medium) {
            margin-top: 15px !important;
            margin-bottom: 15px !important;
        }

        form {
            position: relative;
        }

        .f-label {
            position: absolute;
            left: 8px;
            top: 50%;
            transform: translateY(-50%);
            color: #fff;

        }

        .f-label.has-value {

            opacity: 0;
            font-size: 0;
            visibility: hidden;

        }

        input {
            height: 30px;
            width: 100%;
            background-color: transparent;
            border: 1px solid rgb(255, 255, 255);
            padding: 0 30px 0 10px;
            color: #fff;
            font-family: 'Futura-CondensedMedium';
            min-width: 175px;
            font-size: 18px;

            @media screen and (max-width: $break-medium) {
                height: 40px;
                font-size: 15px;
            }

            &:focus {
                border: 1px solid rgb(213, 128, 42) !important;
            }
        }

        .form-feild:hover:active:focus:focus-within {
            box-shadow: none;
            border-color: rgb(255, 153, 51) !important;
        }

        :-ms-input-placeholder {
            /* Internet Explorer */
            color: rgb(255, 255, 255);
            opacity: 1 !important;
        }

        ::placeholder {
            color: rgb(255, 255, 255);
            opacity: 1 !important;
        }

        ::-webkit-input-placeholder {
            /* WebKit browsers */
            color: rgb(255, 255, 255);
            opacity: 1 !important;
        }

        .search {
            position: absolute;
            background: transparent;
            border: none;
            height: 100%;
            padding: 0;
            right: 10px;
            z-index: 11;
            top: -1px;
            cursor: pointer;
        }
    }
}

.title-tail {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 4px;
        background-color: #000;
        width: 100%;

        @media screen and (max-width: $break-medium) {
            content: none;
        }
    }
}

.title {
    @media screen and (max-width: $break-medium) {
        text-align: center;
    }
}

.title-boxed {
    display: inline-block;
    border: 4px solid #000;
    padding: 5px 15px;
    min-width: 200px;

    @media screen and (max-width: $break-medium) {
        text-align: center;
    }

    @media screen and (max-width: $break-small) {
        font-size: 1.8em;
    }
}

.title-boxed-sm {
    display: inline-block;
    border: 3px solid #000;
    padding: 5px 15px;
    min-width: 200px;
    font-size: 18px;
}

h1.title-boxed {
    font-family: 'Futura-CondensedMedium';
    font-size: 3.0625em;

    @media screen and (max-width: $break-small) {
        font-size: 1.8em;
    }
}

.white-theme {
    border-color: #fff;
    color: #fff;
}

.dark-theme {
    background-color: #000;
    border-color: #000;
    color: #fff;
}

.boder-bottom {
    border-bottom: 1px solid #ddd;
}

/* banner */
.banner-outer {
    min-height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-color: rgb(75, 75, 75);

    @media (max-width: $break-medium) {
        min-height: 70vh;
    }
}

/* banner */
.banner-content {
    margin-top: 14em !important;

    @media (max-width: $break-medium) {
        margin-top: 10em !important;
    }

    h1 {
        color: rgb(255, 255, 255);
        font-size: 25px;
        text-align: center;

        @media (max-width: $break-medium) {
            font-size: 1.6em;
        }
    }
}

.hero {
    background: #fff url(../images/loader.gif) no-repeat center center;
    width: 100%;
}

.slider-text-outer {
    min-height: 550px;
}

.hero .flexslider {
    border: none;
    z-index: 1;
    margin-bottom: 0;
}

.hero .flexslider .slides {
    position: relative;
    overflow: hidden;
}

.hero .flexslider .slides li {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 550px;
    position: relative;
}

.hero .flexslider .slides li .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .3;
    background: rgba(0, 0, 0, 0);
}

.hero .flexslider .flex-control-nav {
    bottom: 7em;
    z-index: 1000;
    width: 0 auto;
}

.hero .flexslider .flex-control-nav li a {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 0;
    border: 1px solid #fff;
}

.hero .flexslider .flex-control-nav {
    text-align: center;
}

.hero .flexslider .flex-control-nav li a.flex-active {
    cursor: pointer;
    background: transparent;
    background: rgb(255, 255, 255);
}

.hero .flexslider .slider-text {
    width: 100%;
    opacity: 0;
    z-index: 9;
}

.hero .flexslider {
    .flex-direction-nav {

        .flex-prev,
        .flex-next {
            opacity: 1;
            background-position: center center;
            background-repeat: no-repeat;
            font-size: 0;

            &:before {
                font-size: 0;
                content: none;
            }
        }

        .flex-prev {
            left: 50px;
            background-image: url(../images/icons/arrow-left.svg);

            &:hover {
                left: 60px;
            }
        }

        .flex-next {
            background-image: url(../images/icons/arrow-right.svg);
            right: 50px;

            &:hover {
                right: 60px;
            }
        }
    }

    &:hover {

        .flex-prev,
        .flex-next {
            opacity: 1;
        }

        .flex-prev {
            left: 50px;
        }

        .flex-next {
            right: 50px;
        }
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        visibility: hidden;
        transform: translate3d(0, 40px, 0);
    }

    to {
        visibility: visible;
        opacity: 1;
        transform: none;
    }
}

@media (max-width: 768px) {
    .hero .flexslider .slides li {
        min-height: 70vh;
    }

    .slider-text-outer {
        min-height: 70vh;
    }

    .banner-content {
        margin-top: 100px;
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.fadeInUp {
    animation-name: fadeInUp;
}

.our-story {
    padding: 75px 0;

    @media screen and (max-width: $break-medium) {
        padding: 3em 0;
    }

    p {
        font-family: 'Futura Lt BT';
        font-size: 18px;

        @media screen and (max-width: $break-medium) {
            text-align: justify;
        }
    }

    blockquote {
        font-size: 38px;
        font-family: 'Futura-CondensedMedium';
        text-align: center;
        margin-bottom: 0;
        margin-top: 5px;
        padding-bottom: 25px;
        border-bottom: 3px solid #000;

        @media screen and (max-width: $break-medium) {
            line-height: 1.6;
            font-size: 2em;
        }

        span {
            display: block;
        }
    }
}

.objectives {
    position: relative;

    .p-bt-85 {
        padding-bottom: 85px !important;
    }

    .obj-row {
        padding-right: 55px !important;

        @media screen and (max-width: $break-small) {
            padding-right: 0;
            margin: 0 !important;
        }
    }

    .obj-content {
        padding-right: 30px;
        padding-left: 0;

        @media screen and (max-width: $break-medium) {
            padding-right: 15px;
            padding-left: 15px;
            text-align: center;
        }

        .ico-container {
            min-height: 80px;
            display: flex;
            align-items: flex-end;
            margin-bottom: 13px;

            @media screen and (max-width: $break-medium) {
                justify-content: center;
            }
        }

        h4 {
            font-size: 16px;
            font-family: 'Futura-CondensedMedium';
            margin: 0;
        }

        p {
            font-size: 14px;
            font-family: 'Futura Lt BT';
            font-weight: 300;
            color: rgb(96, 96, 96);
            margin: 5px 0 10px;
            line-height: normal;
            position: relative;
            padding-right: 26%;

            @media screen and (max-width: $break-medium) {
                padding-right: 0;
            }

            .view-more {
                position: absolute;
                right: auto;
                z-index: 9;
                font-family: 'Futura Lt BT';
                font-weight: 300;
                color: rgb(0, 0, 0);
                margin-left: 10px;
            }

            &:hover {
                .view-more {
                    color: rgb(255, 153, 51);
                }
            }
        }
    }

    &:after {
        content: "";
        position: absolute;
        background-image: url(../images/Web_06.png);
        min-height: 820px;
        width: 33.333333%;
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        right: 0px;

        @media screen and (max-width: $break-medium) {
            content: none;
        }
    }
}

.gallery-cluster {
    .segment {
        position: relative;
        margin-bottom: .50rem !important;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover img {
            filter: grayscale(100%);
            transition: all ease-in-out .8s;
        }

        .play-video {
            position: absolute;
            z-index: 10;

            img {
                @media screen and (max-width: $break-medium) {
                    width: 60px;
                }
            }
        }

        .content {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.54);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: row wrap;
            z-index: 10;

            h4 {
                color: rgb(255, 255, 255);

                @media screen and (max-width: $break-medium) {
                    font-size: 1em;
                }
            }
        }
    }
}

.modal-header {
    border: none;
    background: rgb(0, 0, 0);
}

.modal-open .modal {
    background: rgba(0, 0, 0, 0.26);
}

.modal-content {
    border-radius: 0;
    background-color: rgb(0, 0, 0);
}

.close.js-pause {
    color: #fff;
    opacity: 1;
}

.modal-title {
    color: #fff;
}

.activities {
    padding: 0px 0 45px;

    #showLess {
        display: none;

        img {
            transform: rotate(180deg);
        }
    }

    .activity-content-grid {
        display: none;
        width: 100%;

        .img-wrapper {
            background: rgb(57, 57, 57);
            position: relative;
        }

        .featured-image {
            min-height: 265px;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .activity-date {
            background: rgb(0, 0, 0);
            color: rgb(255, 255, 255);
            padding: 7px 20px;
            position: absolute;
            right: 0;
            top: 0;
        }

        .comment-count {
            margin: 15px 0 0 !important;

            span {
                margin-left: 10px
            }
        }

        h3 {
            font-family: 'Futura';
            font-weight: 500;
            color: #606060;
            font-size: 20px;
        }

        p {
            font-size: 15px;
            font-family: 'Futura Lt BT';
            font-weight: 300;
            color: #000;
        }
    }

    .activites-row {
        @media screen and (max-width: $break-medium) {
            margin: 0 !important;
        }
    }
}

.motto {
    min-height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;

    h5,
    h6 {
        color: #fff;
        font-family: 'Futura';
        font-weight: 500;
        font-size: 18px !important;
        letter-spacing: 2px;
        line-height: 2;
        padding: 0 18px;
    }

    h5 {
        @media screen and (max-width: $break-medium) {
            margin-top: 25px;
        }
    }

    h6 {
        margin-top: 20px;
        font-size: 14px !important;
    }
}

.page-banner {
    min-height: 770px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    flex-flow: row wrap;

    @media screen and (max-width: $break-medium) {

        min-height: 520px;
    }

    .content {
        padding-top: 15%;
    }

    p {

        color: #fff;
        font-family: 'Futura Lt BT';
        font-weight: 300;
        font-size: 18px;
    }

}

.team-members {
    padding-bottom: 45px;
    margin-bottom: 45px;

    .boder-bottom {
        border-bottom: 1px solid rgb(0, 0, 0);
    }

    p {

        font-family: 'Futura Lt BT';
        font-weight: 300;
        font-size: 18px;
    }

    .member {
        // padding-left:65px;

        img {
            width: 75% !important;

            @media screen and (max-width: $break-medium) {
                width: 100% !important;
            }
        }

        .chief {
            width: 100% !important;
        }

        h6 {
            font-family: 'Futura-CondensedMedium';
            font-size: 20px;
            text-align: center;
            margin: 10px 0;

        }

        h5 {
            font-family: 'Futura';
            font-size: 15px;
            margin: 10px 0 0;
            font-weight: bold;
            width: 75% !important;

            @media screen and (max-width: $break-medium) {
                font-size: 14px;
                width: 100% !important;
            }
        }

        p {
            font-family: 'Futura';
            font-weight: 500;
            font-size: 14px;

            width: 80% !important;

            @media screen and (max-width: $break-medium) {
                font-size: 13px;
                width: 100% !important;
            }

        }
    }
}

.gallery-banner {
    position: relative;

    .gallery-title {
        position: absolute;
        top: 50%;
        z-index: 9;
        color: #fff;
    }
}

.gallery-feeds {


    .img-holder {
        position: relative;
        height: 100%;
    }

    .snip {
        min-height: 300px;
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        img {
            vertical-align: top;
            max-width: 100%;
            width: 100%;
            backface-visibility: hidden;
        }

    }


    .snip figcaption {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        align-items: center;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: all 0.6s ease;
    }




    .maximize img {
        vertical-align: middle;
        width: 20px;
    }

    .snip .symbol {
        margin: 0;
        opacity: 0;
        letter-spacing: 1px;
        display: flex;

        align-items: center;

        justify-content: center;
        transition: all 0.45s ease;
        transform: translateY(-100%);
        text-transform: uppercase;
        font-weight: 400;
    }







    .snip:hover figcaption,
    .hover-active figcaption {
        background-color: rgba(21, 21, 21, 0.37);
        transition: all 0.4s ease;

        a {
            opacity: 1;
            transition: all 0.4s ease;
        }
    }

    .snip:hover .symbol,
    .hover-active .symbol {
        transform: translateY(0);
        transition: all 0.45s ease;
        opacity: 1;
    }
}

.image-description {
    p {
        font-family: 'Futura Lt BT';
        font-weight: 300;
        font-size: 18px;
    }
}


[data-pagination],
[data-pagination] *,
[data-pagination] *:before,
[data-pagination] *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
}

[data-pagination] {
    font-size: 8pt;
    line-height: 1;
    font-weight: 400;
    -webkit-text-size-adjust: 100%;
    margin: 1em auto;
    text-align: center;
    transition: font-size .2s ease-in-out;
}

[data-pagination] ul {
    list-style: none;

    display: inline-block;

    font-size: 100%;

    margin: 0;

    padding: 0;
}

[data-pagination] ul li {
    display: inline-block;
    font-size: 100%;
    width: auto;
    padding: 5px;
}

[data-pagination]>a {
    font-size: 140%;
}

[data-pagination] a {
    color: rgb(0, 0, 0);
    font-size: 100%;
    padding: 0 2px;
    font-family: 'Futura-CondensedMedium';
    font-size: 18px;
}

[data-pagination] a i {
    color: rgb(0, 0, 0);
    font-size: 25px;

}

[data-pagination] a:focus,
[data-pagination] a:hover {
    color: rgb(255, 153, 51);
    background-color: transparent !important;
}

[data-pagination] li.current a {
    background: rgb(255, 153, 51);
    color: #fff;
}

/* Disabled & Hidden Styles */
[data-pagination] .disabled,
[data-pagination] [hidden],
[data-pagination] [disabled] {
    opacity: .5;
    pointer-events: none;
}

@media (min-width: 350px) {
    [data-pagination] {
        font-size: 10pt;
    }
}

@media (min-width: 500px) {
    [data-pagination] {
        font-size: 12pt;
    }
}

@media (min-width: 700px) {
    [data-pagination] {
        font-size: 14pt;
    }
}

@media (min-width: 900px) {
    [data-pagination] {
        font-size: 16pt;
    }
}

/* joins as a volunteer */
.form-container {
    .address {
        margin-bottom: 109px;
        padding-left: 3em;
    }

    p,
    a {
        color: #000;
    }

    p {
        font-family: 'Futura Lt BT';
        font-weight: 300;
        font-size: 13px;
    }

    .contact-num {
        display: inline-block;
        width: 100%;
        font-family: 'Futura-CondensedMedium';
        font-weight: 500;

    }

    .contact-eamil {
        font-family: 'Futura Lt BT';
        font-weight: 300;
        font-size: 13px;
    }

    h5 {
        font-family: 'Futura-CondensedMedium';
        font-weight: 500;
        font-size: 15px;
        border-bottom: 1px solid #000;
        padding-bottom: 15px;
    }

    h6 {
        font-family: 'Futura-CondensedMedium';
        font-size: 15px;
        margin-bottom: 0;
    }

    .home-btn {
        padding: 8px 8px;
        border: 2px solid rgb(0, 0, 0);
        min-width: 80px;
        color: rgb(0, 0, 0);
        text-align: center;
        font-family: 'Futura-CondensedMedium';

        font-size: 18px;

        text-transform: uppercase;

        &:hover {
            background: #000;
            color: #fff;
        }
    }
}

.donate-now {

    .form-holder {
        padding-bottom: 45px;
        border-bottom: 1px solid rgb(0, 0, 0);
    }

    .address {
        margin-bottom: 0px;

        @media screen and (max-width: $break-medium) {
            padding-left: 0;
            margin-top: 25px;
        }
    }

    .contact-form {
        .submit-btn {
            color: rgb(255, 255, 255);
            background-color: rgb(255, 148, 51);
            border: 2px solid rgb(255, 148, 51);

            &:hover {
                background-color: transparent;
                color: rgb(0, 0, 0);
                ;
            }

        }

    }


}

.agree {
    font-family: 'Futura Lt BT' !important;
    font-size: 18px !important;
    text-transform: none !important;
}

.contact-form {
    border: 5px solid #000;
    padding: 15px;
    margin: 65px 0 0;

    .form-field {
        position: relative;
        margin-bottom: 10px;
    }

    .input-text {
        font-family: 'Futura Lt BT';
        font-weight: 300;
        font-size: 18px;
        display: block;
        width: 100%;
        height: 35px;
        border: none;
        border-bottom: 1px solid #000;
    }

    .input-text:focus {
        outline: none;
        box-shadow: none !important;
    }

    .input-text:focus+.label,
    .label.f-label.not-empty {
        font-size: 12px;
        -webkit-transform: translateY(-14px);
        transform: translateY(-14px);
    }

    input:required {
        box-shadow: none;
    }

    input:invalid {
        box-shadow: none;
    }

    .label {
        position: absolute;
        left: 20px;
        bottom: 0px;
        font-family: 'Futura Lt BT';
        font-weight: 300;
        font-size: 18px;
        color: #000;
        cursor: text;

        transition: all .4s ease-in-out;

    }

    .submit-btn {
        display: inline-block;
        background-color: transparent;
        color: #FF9433;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 24px;
        padding: 8px 16px;
        border: 1px solid rgb(0, 0, 0);
        min-width: 122px;
        cursor: pointer;

        font-family: 'Futura-CondensedMedium';

        &:hover {
            background: #FF9433;
            border-color: #FF9433;
            color: #fff;
        }
    }

    .note {
        position: absolute;
        left: 0;
        bottom: 10px;
        width: 100%;
        text-align: center;
        font-size: 16px;
        line-height: 21px;
    }

    .note .link {
        color: #888;
        text-decoration: none;
    }

    .note .link:hover {
        text-decoration: underline;
    }

    .input-text :hover:active:focus:focus-within {
        box-shadow: none;
    }
}

.graph {


    li {
        padding-left: 2.7em;
        display: inline-block;
        width: 100%;
        margin-bottom: 15px;

        @media screen and (max-width: $break-medium) {
            padding-left: 0em;
        }

        &:nth-child(1) span {
            background-color: #FF9433;
        }

        &:nth-child(2) span {
            background-color: #000;
            color: #fff;
        }

        &:nth-child(3) span {
            background-color: #5E5E5E;
            border-color: #5E5E5E;
            color: #fff;
        }

        &:nth-child(4) span {
            background-color: #8C8C8C;
            border-color: #8C8C8C;
            color: #fff;
        }

        &:nth-child(5) span {
            background-color: #8C8C8C;
            border-color: #8C8C8C;
            color: #fff;
        }
    }

    li span {
        width: 50px;
        height: 40px;
        margin-right: 15px;
        border: 1px solid #000;
        display: inline-block;
        text-align: center;
        justify-content: center;
        font-family: 'Futura-CondensedMedium';
        font-size: 18px;
        line-height: 40px;
    }
}

.fund-info {
    p {
        font-family: 'Futura Lt BT';
        font-weight: 300;
        font-size: 18px;
    }
}

.book-holder {
    display: none;
}

.book-info-container {

    .view-more {


        margin-left: 10px;
        color: #000;

    }
}

.book-info {
    width: 100%;

    .buynow {

        padding: 5px 20px;
        background-color: RGB(255, 148, 51);
        color: rgb(255, 255, 255);
        margin-top: 45px;
        display: inline-block;
        font-family: 'Futura Lt BT';
        font-weight: 300;
        font-size: 15px;

        &:hover {
            background: #000;
        }
    }

    .info {
        .icon {

            max-width: 10px;

        }

        text-transform: uppercase;
        font-family: 'Futura-CondensedMedium';
        font-size: 15px;
        padding: 0 0 0 5px;
        margin: 0;

        @media screen and (max-width: $break-medium) {
            margin-bottom: 0;
            width: 70%;
        }
    }

    .meta {
        font-family: 'Futura-CondensedMedium';
        position: relative;
        margin: 0;

        @media screen and (max-width: $break-medium) {
            margin-bottom: 0;
            width: 30%;
        }

        &:after {
            content: ":";
            position: absolute;
            right: 5px;

        }

    }

    @media screen and (max-width: $break-medium) {
        .group.row {
            padding: 5px 0;
            margin: 0;
        }

        .group.row:nth-child(1) {
            margin-top: 25px;
        }

        .group.row:nth-child(2n+1) {
            background: rgb(213, 213, 213);

        }
    }
}

.auther-info {
    h6 {
        font-family: 'Futura-CondensedMedium';
        font-size: 15px;
        margin: 10px 0;
    }
}

.book-briefing {
    font-family: 'Futura Lt BT';
    font-weight: 300;
    font-size: 15px;
}

.form-container {
    .book-thumb {
        margin-top: 65px;
        padding: 22px;
    }
}

.clip-holder {
    display: none;
    padding: 15px;
    border: 6px solid #000;
    margin-bottom: 45px;

}

#showLess {
    display: none;

    img {
        transform: rotate(180deg)
    }
}

#return-to-top {
    position: fixed;
    bottom: 25px;
    right: 20px;
    background: rgb(255, 153, 51);
    width: 40px;
    height: 40px;
    display: block;
    text-decoration: none;

    border-radius: 35px;
    display: none;

    transition: all 0.3s ease;
}


#return-to-top:hover {
    background: rgba(255, 153, 51, 0.6);
}



#return-to-top  img {

    width: 15px;
    position: absolute;

top: 50%;

left: 50%;

transform: translate(-50% , -50%) rotate(180deg);
}

//footer
.page-footer {
    margin-bottom: 0;
    background-color: rgb(0, 0, 0);
    padding: 70px 0;

    p,
    h5,
    h6,
    a {
        color: rgb(255, 255, 255)
    }

    .address {
        h6 {
            font-family: 'Futura-CondensedMedium';
            font-size: 15px;
            margin-bottom: 0
        }
    }

    p,
    .contact-eamil {
        font-family: 'Futura Lt BT';
        font-weight: 300;
        font-size: 13px;
    }

    h5 {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid rgb(96, 96, 96);
        font-size: 15px;
        font-family: 'Futura-CondensedMedium';
    }

    .contact-num {
        display: inline-block;
        width: 100%;
        font-family: 'Futura-CondensedMedium';
        font-weight: 500;
        color: #fff;
    }

    .join {
        min-width: 122px;
        min-height: 32px;
        display: inline-block;
        border: 1px solid #fff;
        line-height: 32px;
        font-family: 'Futura-CondensedMedium';
        text-align: center;

        &:hover {
            background: rgb(255, 153, 51);
            border-color: rgb(255, 153, 51);
        }
    }

    .quick-links {
        li {
            margin-bottom: 5px;
        }

        a {
            font-family: 'Futura Lt BT';
            font-weight: 300;
            font-size: 13px;
            color: #fff;
            padding: 0 15px;

            &:hover {
                color: rgb(255, 153, 51);
            }
        }

        @media screen and (max-width: $break-small) {
            flex-flow: column;

            a {
                margin-bottom: 15px;
                display: inline-block;
            }
        }
    }
}

#spinner {
    height: 65px;
    width: 65px;
    position: absolute;
    bottom: -65px;
    left: 50%;
    border: 2px solid rgb(255, 255, 255);
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spin 2s infinite;
    -webkit-animation: spin 2s infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(360deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

//preloader
.preloader {
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    left: 0px;
    right: 0px;
    background-color: rgb(255, 255, 255);
    z-index: 200;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    transition: opacity 1s;

    &.gone {
        opacity: 0;
        z-index: -100;
    }

    .preloader-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        z-index: 999;
        animation: blinking normal 2.5s infinite ease-in;

        img {
            max-width: 200px;
        }
    }

    .box.horizTranslate {
        transition: 3s;
        transform: translate(-50%, 0) !important;
    }
}

.page-content {
    opacity: 0;
    transition: opacity .3s;
}

.page-content.here {
    opacity: 1;
}

.page-content.here .preloader-logo {
    top: 0%;
}

@-webkit-keyframes blinking {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: $break-small) {
    .xs-mb-30 {
        margin-bottom: 30px !important;
    }
}