@font-face {
  font-family: 'Futura';
  src: url("../fonts/Futura-Medium.eot");
  src: url("../fonts/Futura-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Futura-Medium.woff2") format("woff2"), url("../fonts/Futura-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Futura-CondensedMedium';
  src: url("../fonts/Futura-CondensedMedium.eot");
  src: url("../fonts/Futura-CondensedMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/Futura-CondensedMedium.woff2") format("woff2"), url("../fonts/Futura-CondensedMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Futura Lt BT';
  src: url("../fonts/FuturaBT-Light.eot");
  src: url("../fonts/FuturaBT-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaBT-Light.woff2") format("woff2"), url("../fonts/FuturaBT-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Futura';
  src: url("../fonts/Futura-Bold.woff2") format("woff2"), url("../fonts/Futura-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@media (min-width: 1200px) {
  .container {
    max-width: 1120px; } }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

select::-ms-expand {
  /* for IE 11 */
  display: none; }

body {
  font-family: 'Futura';
  color: black;
  font-size: 14px;
  line-height: normal;
  font-weight: 300; }

::-moz-selection {
  background-color: transparent;
  color: #ff9933; }

::selection {
  background-color: transparent;
  color: #ff9933; }

ul {
  padding: 0;
  list-style: none;
  margin: 0; }

a,
a > *,
button,
button > * {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

button {
  border: none; }

.btn.focus,
button:focus {
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

a:focus,
a:hover,
a > :focus,
a > :hover,
button:focus {
  outline: 0;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }

.readmore {
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  overflow: hidden; }

.readmore:hover {
  position: relative;
  color: #fff;
  background-color: #ff9933; }

.readmore:hover:after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  border-radius: 100%;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-animation: ripple 1s ease-out;
  animation: ripple 1s ease-out; }

.readmore:focus:not(:active)::after {
  -webkit-animation: ripple 1s ease-out;
  animation: ripple 1s ease-out; }

@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 1; }
  20% {
    -webkit-transform: scale(2, 2);
    transform: scale(2, 2);
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: scale(10, 10);
    transform: scale(10, 10); } }

@keyframes ripple {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 1; }
  20% {
    -webkit-transform: scale(2, 2);
    transform: scale(2, 2);
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: scale(10, 10);
    transform: scale(10, 10); } }

p {
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222; }

h2 {
  font-family: 'Futura-CondensedMedium';
  font-size: 3.0625em; }

.ft-medium {
  font-family: 'Futura';
  font-weight: 500; }

/* header */
.page-header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-property: height, top;
  -o-transition-property: height, top;
  transition-property: height, top;
  -webkit-box-shadow: rgba(30, 50, 50, 0.25) 0 0.05em 0.5em;
  box-shadow: rgba(30, 50, 50, 0.25) 0 0.05em 0.5em; }

.page-header.hide {
  top: -130px;
  height: 0; }

.navigation-holder {
  background-color: black;
  position: relative;
  padding: 4px 0; }
  .navigation-holder .navbar-light {
    padding: 0; }
    .navigation-holder .navbar-light .navbar-brand {
      padding: 0; }
      .navigation-holder .navbar-light .navbar-brand img {
        max-height: 68px; }
    @media screen and (min-width: 1200px) {
      .navigation-holder .navbar-light .navbar-nav {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    .navigation-holder .navbar-light .navbar-nav .nav-link {
      color: white;
      margin: 0 20px;
      color: white;
      margin: 0;
      font-weight: 400;
      position: relative;
      font-family: 'Futura-CondensedMedium';
      font-size: 18px;
      height: 100%;
      padding: 30px 15px;
      background: black;
      width: 100%;
      min-width: 95px;
      text-align: center; }
      @media screen and (max-width: 1200px) {
        .navigation-holder .navbar-light .navbar-nav .nav-link {
          margin-left: 7px;
          margin-right: 7px; } }
      @media screen and (max-width: 992px) {
        .navigation-holder .navbar-light .navbar-nav .nav-link {
          height: auto;
          text-align: left;
          padding: 15px 10px; } }
      .navigation-holder .navbar-light .navbar-nav .nav-link:hover {
        background: #fff !important;
        color: #000 !important; }
      .navigation-holder .navbar-light .navbar-nav .nav-link.active {
        background: #fff;
        color: #000; }
    .navigation-holder .navbar-light .navbar-nav .nav-item.dropdown.show .nav-link {
      color: #000 !important;
      background: #fff; }
    @media screen and (max-width: 768px) {
      .navigation-holder .navbar-light .navbar-nav {
        color: white;
        margin: 5px 0;
        font-weight: 400; } }
    .navigation-holder .navbar-light .navbar-nav .dropdown-toggle:after {
      content: none; }
    .navigation-holder .navbar-light .navbar-nav .dropdown-menu {
      background: transparent;
      border-radius: 0;
      width: auto;
      padding-top: 0px;
      padding-bottom: 0;
      min-width: 100%; }
      @media screen and (max-width: 768px) {
        .navigation-holder .navbar-light .navbar-nav .dropdown-menu {
          padding: 0;
          margin: 0; } }
      .navigation-holder .navbar-light .navbar-nav .dropdown-menu .nav-link {
        background-color: #fff;
        border: 1px solid #fff; }
        @media screen and (max-width: 992px) {
          .navigation-holder .navbar-light .navbar-nav .dropdown-menu .nav-link {
            border: 0px solid #fff; } }
      .navigation-holder .navbar-light .navbar-nav .dropdown-menu .nav-item .nav-link {
        color: black !important; }
        .navigation-holder .navbar-light .navbar-nav .dropdown-menu .nav-item .nav-link:hover {
          color: rgba(255, 255, 255, 0.8) !important;
          background-color: transparent !important;
          border-color: #606060; }
      .navigation-holder .navbar-light .navbar-nav .dropdown-menu .nav-item:nth-last-child(2) .nav-link:after {
        content: none; }
    .navigation-holder .navbar-light .nav-item:nth-last-child(2) .nav-link {
      color: #ff9933; }
      .navigation-holder .navbar-light .nav-item:nth-last-child(2) .nav-link:after {
        content: "";
        position: absolute;
        width: 68%;
        height: 4px;
        bottom: 22px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        border: none;
        background-color: #ff9933;
        z-index: 1;
        -webkit-transition: all ease-in 0.4s;
        -o-transition: all ease-in 0.4s;
        transition: all ease-in 0.4s; }
        @media screen and (max-width: 992px) {
          .navigation-holder .navbar-light .nav-item:nth-last-child(2) .nav-link:after {
            left: 10px;
            -webkit-transform: translateX(0%);
            -ms-transform: translateX(0%);
            transform: translateX(0%);
            bottom: 0px; } }
      @media screen and (max-width: 992px) {
        .navigation-holder .navbar-light .nav-item:nth-last-child(2) .nav-link .nav-item {
          margin: 15px 0 5px; } }
      @media screen and (max-width: 768px) {
        .navigation-holder .navbar-light .nav-item:nth-last-child(2) .nav-link .nav-item {
          margin: 7px 0 5px; } }
    .navigation-holder .navbar-light .navbar-toggler {
      color: rgba(255, 255, 255, 0.5);
      border-color: rgba(0, 0, 0, 0.1);
      background-color: #ff9933;
      padding: 4px 7px;
      border-radius: 2px; }
    .navigation-holder .navbar-light .navbar-collapse .navbar-nav {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: end; }
  .navigation-holder .search-box {
    position: relative;
    padding: 0 5px; }
    @media screen and (max-width: 992px) {
      .navigation-holder .search-box {
        margin-top: 15px !important;
        margin-bottom: 15px !important; } }
    .navigation-holder .search-box form {
      position: relative; }
    .navigation-holder .search-box .f-label {
      position: absolute;
      left: 8px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      color: #fff; }
    .navigation-holder .search-box .f-label.has-value {
      opacity: 0;
      font-size: 0;
      visibility: hidden; }
    .navigation-holder .search-box input {
      height: 30px;
      width: 100%;
      background-color: transparent;
      border: 1px solid white;
      padding: 0 30px 0 10px;
      color: #fff;
      font-family: 'Futura-CondensedMedium';
      min-width: 175px;
      font-size: 18px; }
      @media screen and (max-width: 992px) {
        .navigation-holder .search-box input {
          height: 40px;
          font-size: 15px; } }
      .navigation-holder .search-box input:focus {
        border: 1px solid #d5802a !important; }
    .navigation-holder .search-box .form-feild:hover:active:focus:focus-within {
      -webkit-box-shadow: none;
      box-shadow: none;
      border-color: #ff9933 !important; }
    .navigation-holder .search-box :-ms-input-placeholder {
      /* Internet Explorer */
      color: white;
      opacity: 1 !important; }
    .navigation-holder .search-box ::-webkit-input-placeholder {
      color: white;
      opacity: 1 !important; }
    .navigation-holder .search-box ::-ms-input-placeholder {
      color: white;
      opacity: 1 !important; }
    .navigation-holder .search-box ::placeholder {
      color: white;
      opacity: 1 !important; }
    .navigation-holder .search-box ::-webkit-input-placeholder {
      /* WebKit browsers */
      color: white;
      opacity: 1 !important; }
    .navigation-holder .search-box .search {
      position: absolute;
      background: transparent;
      border: none;
      height: 100%;
      padding: 0;
      right: 10px;
      z-index: 11;
      top: -1px;
      cursor: pointer; }

.title-tail {
  position: relative; }
  .title-tail:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background-color: #000;
    width: 100%; }
    @media screen and (max-width: 992px) {
      .title-tail:before {
        content: none; } }

@media screen and (max-width: 992px) {
  .title {
    text-align: center; } }

.title-boxed {
  display: inline-block;
  border: 4px solid #000;
  padding: 5px 15px;
  min-width: 200px; }
  @media screen and (max-width: 992px) {
    .title-boxed {
      text-align: center; } }
  @media screen and (max-width: 768px) {
    .title-boxed {
      font-size: 1.8em; } }

.title-boxed-sm {
  display: inline-block;
  border: 3px solid #000;
  padding: 5px 15px;
  min-width: 200px;
  font-size: 18px; }

h1.title-boxed {
  font-family: 'Futura-CondensedMedium';
  font-size: 3.0625em; }
  @media screen and (max-width: 768px) {
    h1.title-boxed {
      font-size: 1.8em; } }

.white-theme {
  border-color: #fff;
  color: #fff; }

.dark-theme {
  background-color: #000;
  border-color: #000;
  color: #fff; }

.boder-bottom {
  border-bottom: 1px solid #ddd; }

/* banner */
.banner-outer {
  min-height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: #4b4b4b; }
  @media (max-width: 992px) {
    .banner-outer {
      min-height: 70vh; } }

/* banner */
.banner-content {
  margin-top: 14em !important; }
  @media (max-width: 992px) {
    .banner-content {
      margin-top: 10em !important; } }
  .banner-content h1 {
    color: white;
    font-size: 25px;
    text-align: center; }
    @media (max-width: 992px) {
      .banner-content h1 {
        font-size: 1.6em; } }

.hero {
  background: #fff url(../images/loader.gif) no-repeat center center;
  width: 100%; }

.slider-text-outer {
  min-height: 550px; }

.hero .flexslider {
  border: none;
  z-index: 1;
  margin-bottom: 0; }

.hero .flexslider .slides {
  position: relative;
  overflow: hidden; }

.hero .flexslider .slides li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 550px;
  position: relative; }

.hero .flexslider .slides li .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .3;
  background: rgba(0, 0, 0, 0); }

.hero .flexslider .flex-control-nav {
  bottom: 7em;
  z-index: 1000;
  width: 0 auto; }

.hero .flexslider .flex-control-nav li a {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
  font-size: 0;
  border: 1px solid #fff; }

.hero .flexslider .flex-control-nav {
  text-align: center; }

.hero .flexslider .flex-control-nav li a.flex-active {
  cursor: pointer;
  background: transparent;
  background: white; }

.hero .flexslider .slider-text {
  width: 100%;
  opacity: 0;
  z-index: 9; }

.hero .flexslider .flex-direction-nav .flex-prev,
.hero .flexslider .flex-direction-nav .flex-next {
  opacity: 1;
  background-position: center center;
  background-repeat: no-repeat;
  font-size: 0; }
  .hero .flexslider .flex-direction-nav .flex-prev:before,
  .hero .flexslider .flex-direction-nav .flex-next:before {
    font-size: 0;
    content: none; }

.hero .flexslider .flex-direction-nav .flex-prev {
  left: 50px;
  background-image: url(../images/icons/arrow-left.svg); }
  .hero .flexslider .flex-direction-nav .flex-prev:hover {
    left: 60px; }

.hero .flexslider .flex-direction-nav .flex-next {
  background-image: url(../images/icons/arrow-right.svg);
  right: 50px; }
  .hero .flexslider .flex-direction-nav .flex-next:hover {
    right: 60px; }

.hero .flexslider:hover .flex-prev,
.hero .flexslider:hover .flex-next {
  opacity: 1; }

.hero .flexslider:hover .flex-prev {
  left: 50px; }

.hero .flexslider:hover .flex-next {
  right: 50px; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0); }
  to {
    visibility: visible;
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0); }
  to {
    visibility: visible;
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@media (max-width: 768px) {
  .hero .flexslider .slides li {
    min-height: 70vh; }
  .slider-text-outer {
    min-height: 70vh; }
  .banner-content {
    margin-top: 100px; } }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

.our-story {
  padding: 75px 0; }
  @media screen and (max-width: 992px) {
    .our-story {
      padding: 3em 0; } }
  .our-story p {
    font-family: 'Futura Lt BT';
    font-size: 18px; }
    @media screen and (max-width: 992px) {
      .our-story p {
        text-align: justify; } }
  .our-story blockquote {
    font-size: 38px;
    font-family: 'Futura-CondensedMedium';
    text-align: center;
    margin-bottom: 0;
    margin-top: 5px;
    padding-bottom: 25px;
    border-bottom: 3px solid #000; }
    @media screen and (max-width: 992px) {
      .our-story blockquote {
        line-height: 1.6;
        font-size: 2em; } }
    .our-story blockquote span {
      display: block; }

.objectives {
  position: relative; }
  .objectives .p-bt-85 {
    padding-bottom: 85px !important; }
  .objectives .obj-row {
    padding-right: 55px !important; }
    @media screen and (max-width: 768px) {
      .objectives .obj-row {
        padding-right: 0;
        margin: 0 !important; } }
  .objectives .obj-content {
    padding-right: 30px;
    padding-left: 0; }
    @media screen and (max-width: 992px) {
      .objectives .obj-content {
        padding-right: 15px;
        padding-left: 15px;
        text-align: center; } }
    .objectives .obj-content .ico-container {
      min-height: 80px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      margin-bottom: 13px; }
      @media screen and (max-width: 992px) {
        .objectives .obj-content .ico-container {
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; } }
    .objectives .obj-content h4 {
      font-size: 16px;
      font-family: 'Futura-CondensedMedium';
      margin: 0; }
    .objectives .obj-content p {
      font-size: 14px;
      font-family: 'Futura Lt BT';
      font-weight: 300;
      color: #606060;
      margin: 5px 0 10px;
      line-height: normal;
      position: relative;
      padding-right: 26%; }
      @media screen and (max-width: 992px) {
        .objectives .obj-content p {
          padding-right: 0; } }
      .objectives .obj-content p .view-more {
        position: absolute;
        right: auto;
        z-index: 9;
        font-family: 'Futura Lt BT';
        font-weight: 300;
        color: black;
        margin-left: 10px; }
      .objectives .obj-content p:hover .view-more {
        color: #ff9933; }
  .objectives:after {
    content: "";
    position: absolute;
    background-image: url(../images/Web_06.png);
    min-height: 820px;
    width: 33.333333%;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    right: 0px; }
    @media screen and (max-width: 992px) {
      .objectives:after {
        content: none; } }

.gallery-cluster .segment {
  position: relative;
  margin-bottom: .50rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .gallery-cluster .segment:hover img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all ease-in-out .8s;
    -o-transition: all ease-in-out .8s;
    transition: all ease-in-out .8s; }
  .gallery-cluster .segment .play-video {
    position: absolute;
    z-index: 10; }
    @media screen and (max-width: 992px) {
      .gallery-cluster .segment .play-video img {
        width: 60px; } }
  .gallery-cluster .segment .content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.54);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    z-index: 10; }
    .gallery-cluster .segment .content h4 {
      color: white; }
      @media screen and (max-width: 992px) {
        .gallery-cluster .segment .content h4 {
          font-size: 1em; } }

.modal-header {
  border: none;
  background: black; }

.modal-open .modal {
  background: rgba(0, 0, 0, 0.26); }

.modal-content {
  border-radius: 0;
  background-color: black; }

.close.js-pause {
  color: #fff;
  opacity: 1; }

.modal-title {
  color: #fff; }

.activities {
  padding: 0px 0 45px; }
  .activities #showLess {
    display: none; }
    .activities #showLess img {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
  .activities .activity-content-grid {
    display: none;
    width: 100%; }
    .activities .activity-content-grid .img-wrapper {
      background: #393939;
      position: relative; }
    .activities .activity-content-grid .featured-image {
      min-height: 265px;
      background-size: cover;
      background-repeat: no-repeat; }
    .activities .activity-content-grid .activity-date {
      background: black;
      color: white;
      padding: 7px 20px;
      position: absolute;
      right: 0;
      top: 0; }
    .activities .activity-content-grid .comment-count {
      margin: 15px 0 0 !important; }
      .activities .activity-content-grid .comment-count span {
        margin-left: 10px; }
    .activities .activity-content-grid h3 {
      font-family: 'Futura';
      font-weight: 500;
      color: #606060;
      font-size: 20px; }
    .activities .activity-content-grid p {
      font-size: 15px;
      font-family: 'Futura Lt BT';
      font-weight: 300;
      color: #000; }
  @media screen and (max-width: 992px) {
    .activities .activites-row {
      margin: 0 !important; } }

.motto {
  min-height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .motto h5,
  .motto h6 {
    color: #fff;
    font-family: 'Futura';
    font-weight: 500;
    font-size: 18px !important;
    letter-spacing: 2px;
    line-height: 2;
    padding: 0 18px; }
  @media screen and (max-width: 992px) {
    .motto h5 {
      margin-top: 25px; } }
  .motto h6 {
    margin-top: 20px;
    font-size: 14px !important; }

.page-banner {
  min-height: 770px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }
  @media screen and (max-width: 992px) {
    .page-banner {
      min-height: 520px; } }
  .page-banner .content {
    padding-top: 15%; }
  .page-banner p {
    color: #fff;
    font-family: 'Futura Lt BT';
    font-weight: 300;
    font-size: 18px; }

.team-members {
  padding-bottom: 45px;
  margin-bottom: 45px; }
  .team-members .boder-bottom {
    border-bottom: 1px solid black; }
  .team-members p {
    font-family: 'Futura Lt BT';
    font-weight: 300;
    font-size: 18px; }
  .team-members .member img {
    width: 75% !important; }
    @media screen and (max-width: 992px) {
      .team-members .member img {
        width: 100% !important; } }
  .team-members .member .chief {
    width: 100% !important; }
  .team-members .member h6 {
    font-family: 'Futura-CondensedMedium';
    font-size: 20px;
    text-align: center;
    margin: 10px 0; }
  .team-members .member h5 {
    font-family: 'Futura';
    font-size: 15px;
    margin: 10px 0 0;
    font-weight: bold;
    width: 75% !important; }
    @media screen and (max-width: 992px) {
      .team-members .member h5 {
        font-size: 14px;
        width: 100% !important; } }
  .team-members .member p {
    font-family: 'Futura';
    font-weight: 500;
    font-size: 14px;
    width: 80% !important; }
    @media screen and (max-width: 992px) {
      .team-members .member p {
        font-size: 13px;
        width: 100% !important; } }

.gallery-banner {
  position: relative; }
  .gallery-banner .gallery-title {
    position: absolute;
    top: 50%;
    z-index: 9;
    color: #fff; }

.gallery-feeds .img-holder {
  position: relative;
  height: 100%; }

.gallery-feeds .snip {
  min-height: 300px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .gallery-feeds .snip img {
    vertical-align: top;
    max-width: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }

.gallery-feeds .snip figcaption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }

.gallery-feeds .maximize img {
  vertical-align: middle;
  width: 20px; }

.gallery-feeds .snip .symbol {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.45s ease;
  -o-transition: all 0.45s ease;
  transition: all 0.45s ease;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  text-transform: uppercase;
  font-weight: 400; }

.gallery-feeds .snip:hover figcaption,
.gallery-feeds .hover-active figcaption {
  background-color: rgba(21, 21, 21, 0.37);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .gallery-feeds .snip:hover figcaption a,
  .gallery-feeds .hover-active figcaption a {
    opacity: 1;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }

.gallery-feeds .snip:hover .symbol,
.gallery-feeds .hover-active .symbol {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.45s ease;
  -o-transition: all 0.45s ease;
  transition: all 0.45s ease;
  opacity: 1; }

.image-description p {
  font-family: 'Futura Lt BT';
  font-weight: 300;
  font-size: 18px; }

[data-pagination],
[data-pagination] *,
[data-pagination] *:before,
[data-pagination] *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-kerning: auto;
  font-kerning: auto; }

[data-pagination] {
  font-size: 8pt;
  line-height: 1;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  margin: 1em auto;
  text-align: center;
  -webkit-transition: font-size .2s ease-in-out;
  -o-transition: font-size .2s ease-in-out;
  transition: font-size .2s ease-in-out; }

[data-pagination] ul {
  list-style: none;
  display: inline-block;
  font-size: 100%;
  margin: 0;
  padding: 0; }

[data-pagination] ul li {
  display: inline-block;
  font-size: 100%;
  width: auto;
  padding: 5px; }

[data-pagination] > a {
  font-size: 140%; }

[data-pagination] a {
  color: black;
  font-size: 100%;
  padding: 0 2px;
  font-family: 'Futura-CondensedMedium';
  font-size: 18px; }

[data-pagination] a i {
  color: black;
  font-size: 25px; }

[data-pagination] a:focus,
[data-pagination] a:hover {
  color: #ff9933;
  background-color: transparent !important; }

[data-pagination] li.current a {
  background: #ff9933;
  color: #fff; }

/* Disabled & Hidden Styles */
[data-pagination] .disabled,
[data-pagination] [hidden],
[data-pagination] [disabled] {
  opacity: .5;
  pointer-events: none; }

@media (min-width: 350px) {
  [data-pagination] {
    font-size: 10pt; } }

@media (min-width: 500px) {
  [data-pagination] {
    font-size: 12pt; } }

@media (min-width: 700px) {
  [data-pagination] {
    font-size: 14pt; } }

@media (min-width: 900px) {
  [data-pagination] {
    font-size: 16pt; } }

/* joins as a volunteer */
.form-container .address {
  margin-bottom: 109px;
  padding-left: 3em; }

.form-container p,
.form-container a {
  color: #000; }

.form-container p {
  font-family: 'Futura Lt BT';
  font-weight: 300;
  font-size: 13px; }

.form-container .contact-num {
  display: inline-block;
  width: 100%;
  font-family: 'Futura-CondensedMedium';
  font-weight: 500; }

.form-container .contact-eamil {
  font-family: 'Futura Lt BT';
  font-weight: 300;
  font-size: 13px; }

.form-container h5 {
  font-family: 'Futura-CondensedMedium';
  font-weight: 500;
  font-size: 15px;
  border-bottom: 1px solid #000;
  padding-bottom: 15px; }

.form-container h6 {
  font-family: 'Futura-CondensedMedium';
  font-size: 15px;
  margin-bottom: 0; }

.form-container .home-btn {
  padding: 8px 8px;
  border: 2px solid black;
  min-width: 80px;
  color: black;
  text-align: center;
  font-family: 'Futura-CondensedMedium';
  font-size: 18px;
  text-transform: uppercase; }
  .form-container .home-btn:hover {
    background: #000;
    color: #fff; }

.donate-now .form-holder {
  padding-bottom: 45px;
  border-bottom: 1px solid black; }

.donate-now .address {
  margin-bottom: 0px; }
  @media screen and (max-width: 992px) {
    .donate-now .address {
      padding-left: 0;
      margin-top: 25px; } }

.donate-now .contact-form .submit-btn {
  color: white;
  background-color: #ff9433;
  border: 2px solid #ff9433; }
  .donate-now .contact-form .submit-btn:hover {
    background-color: transparent;
    color: black; }

.agree {
  font-family: 'Futura Lt BT' !important;
  font-size: 18px !important;
  text-transform: none !important; }

.contact-form {
  border: 5px solid #000;
  padding: 15px;
  margin: 65px 0 0; }
  .contact-form .form-field {
    position: relative;
    margin-bottom: 10px; }
  .contact-form .input-text {
    font-family: 'Futura Lt BT';
    font-weight: 300;
    font-size: 18px;
    display: block;
    width: 100%;
    height: 35px;
    border: none;
    border-bottom: 1px solid #000; }
  .contact-form .input-text:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
  .contact-form .input-text:focus + .label,
  .contact-form .label.f-label.not-empty {
    font-size: 12px;
    -webkit-transform: translateY(-14px);
    -ms-transform: translateY(-14px);
    transform: translateY(-14px); }
  .contact-form input:required {
    -webkit-box-shadow: none;
    box-shadow: none; }
  .contact-form input:invalid {
    -webkit-box-shadow: none;
    box-shadow: none; }
  .contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 0px;
    font-family: 'Futura Lt BT';
    font-weight: 300;
    font-size: 18px;
    color: #000;
    cursor: text;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }
  .contact-form .submit-btn {
    display: inline-block;
    background-color: transparent;
    color: #FF9433;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    padding: 8px 16px;
    border: 1px solid black;
    min-width: 122px;
    cursor: pointer;
    font-family: 'Futura-CondensedMedium'; }
    .contact-form .submit-btn:hover {
      background: #FF9433;
      border-color: #FF9433;
      color: #fff; }
  .contact-form .note {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 21px; }
  .contact-form .note .link {
    color: #888;
    text-decoration: none; }
  .contact-form .note .link:hover {
    text-decoration: underline; }
  .contact-form .input-text :hover:active:focus:focus-within {
    -webkit-box-shadow: none;
    box-shadow: none; }

.graph li {
  padding-left: 2.7em;
  display: inline-block;
  width: 100%;
  margin-bottom: 15px; }
  @media screen and (max-width: 992px) {
    .graph li {
      padding-left: 0em; } }
  .graph li:nth-child(1) span {
    background-color: #FF9433; }
  .graph li:nth-child(2) span {
    background-color: #000;
    color: #fff; }
  .graph li:nth-child(3) span {
    background-color: #5E5E5E;
    border-color: #5E5E5E;
    color: #fff; }
  .graph li:nth-child(4) span {
    background-color: #8C8C8C;
    border-color: #8C8C8C;
    color: #fff; }
  .graph li:nth-child(5) span {
    background-color: #8C8C8C;
    border-color: #8C8C8C;
    color: #fff; }

.graph li span {
  width: 50px;
  height: 40px;
  margin-right: 15px;
  border: 1px solid #000;
  display: inline-block;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Futura-CondensedMedium';
  font-size: 18px;
  line-height: 40px; }

.fund-info p {
  font-family: 'Futura Lt BT';
  font-weight: 300;
  font-size: 18px; }

.book-holder {
  display: none; }

.book-info-container .view-more {
  margin-left: 10px;
  color: #000; }

.book-info {
  width: 100%; }
  .book-info .buynow {
    padding: 5px 20px;
    background-color: RGB(255, 148, 51);
    color: white;
    margin-top: 45px;
    display: inline-block;
    font-family: 'Futura Lt BT';
    font-weight: 300;
    font-size: 15px; }
    .book-info .buynow:hover {
      background: #000; }
  .book-info .info {
    text-transform: uppercase;
    font-family: 'Futura-CondensedMedium';
    font-size: 15px;
    padding: 0 0 0 5px;
    margin: 0; }
    .book-info .info .icon {
      max-width: 10px; }
    @media screen and (max-width: 992px) {
      .book-info .info {
        margin-bottom: 0;
        width: 70%; } }
  .book-info .meta {
    font-family: 'Futura-CondensedMedium';
    position: relative;
    margin: 0; }
    @media screen and (max-width: 992px) {
      .book-info .meta {
        margin-bottom: 0;
        width: 30%; } }
    .book-info .meta:after {
      content: ":";
      position: absolute;
      right: 5px; }
  @media screen and (max-width: 992px) {
    .book-info .group.row {
      padding: 5px 0;
      margin: 0; }
    .book-info .group.row:nth-child(1) {
      margin-top: 25px; }
    .book-info .group.row:nth-child(2n+1) {
      background: #d5d5d5; } }

.auther-info h6 {
  font-family: 'Futura-CondensedMedium';
  font-size: 15px;
  margin: 10px 0; }

.book-briefing {
  font-family: 'Futura Lt BT';
  font-weight: 300;
  font-size: 15px; }

.form-container .book-thumb {
  margin-top: 65px;
  padding: 22px; }

.clip-holder {
  display: none;
  padding: 15px;
  border: 6px solid #000;
  margin-bottom: 45px; }

#showLess {
  display: none; }
  #showLess img {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

#return-to-top {
  position: fixed;
  bottom: 25px;
  right: 20px;
  background: #ff9933;
  width: 40px;
  height: 40px;
  display: block;
  text-decoration: none;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

#return-to-top:hover {
  background: rgba(255, 153, 51, 0.6); }

#return-to-top img {
  width: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
  -ms-transform: translate(-50%, -50%) rotate(180deg);
  transform: translate(-50%, -50%) rotate(180deg); }

.page-footer {
  margin-bottom: 0;
  background-color: black;
  padding: 70px 0; }
  .page-footer p,
  .page-footer h5,
  .page-footer h6,
  .page-footer a {
    color: white; }
  .page-footer .address h6 {
    font-family: 'Futura-CondensedMedium';
    font-size: 15px;
    margin-bottom: 0; }
  .page-footer p,
  .page-footer .contact-eamil {
    font-family: 'Futura Lt BT';
    font-weight: 300;
    font-size: 13px; }
  .page-footer h5 {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #606060;
    font-size: 15px;
    font-family: 'Futura-CondensedMedium'; }
  .page-footer .contact-num {
    display: inline-block;
    width: 100%;
    font-family: 'Futura-CondensedMedium';
    font-weight: 500;
    color: #fff; }
  .page-footer .join {
    min-width: 122px;
    min-height: 32px;
    display: inline-block;
    border: 1px solid #fff;
    line-height: 32px;
    font-family: 'Futura-CondensedMedium';
    text-align: center; }
    .page-footer .join:hover {
      background: #ff9933;
      border-color: #ff9933; }
  .page-footer .quick-links li {
    margin-bottom: 5px; }
  .page-footer .quick-links a {
    font-family: 'Futura Lt BT';
    font-weight: 300;
    font-size: 13px;
    color: #fff;
    padding: 0 15px; }
    .page-footer .quick-links a:hover {
      color: #ff9933; }
  @media screen and (max-width: 768px) {
    .page-footer .quick-links {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column; }
      .page-footer .quick-links a {
        margin-bottom: 15px;
        display: inline-block; } }

#spinner {
  height: 65px;
  width: 65px;
  position: absolute;
  bottom: -65px;
  left: 50%;
  border: 2px solid white;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spin 2s infinite;
  -webkit-animation: spin 2s infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(360deg); }
  100% {
    -webkit-transform: rotate(0deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

.preloader {
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100%;
  left: 0px;
  right: 0px;
  background-color: white;
  z-index: 200;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; }
  .preloader.gone {
    opacity: 0;
    z-index: -100; }
  .preloader .preloader-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 999;
    -webkit-animation: blinking normal 2.5s infinite ease-in;
    animation: blinking normal 2.5s infinite ease-in; }
    .preloader .preloader-logo img {
      max-width: 200px; }
  .preloader .box.horizTranslate {
    -webkit-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
    -webkit-transform: translate(-50%, 0) !important;
    -ms-transform: translate(-50%, 0) !important;
    transform: translate(-50%, 0) !important; }

.page-content {
  opacity: 0;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s; }

.page-content.here {
  opacity: 1; }

.page-content.here .preloader-logo {
  top: 0%; }

@-webkit-keyframes blinking {
  0% {
    opacity: 1; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }

@media screen and (max-width: 768px) {
  .xs-mb-30 {
    margin-bottom: 30px !important; } }
